react-js/01-github-explorer/node_modules/
react-js/01-github-explorer/dist/

react-js/02-dt-money/node_modules/
react-js/02-dt-money/dist/

react-js/03-ig-news/node_modules/
react-js/03-ig-news/dist/

react-js/04-dashgo/node_modules
react-js/04-dashgo/dist

react-js/05-authentication/frontend/node_modules/
react-js/05-authentication/backend/node_modules/
react-js/05-authentication/frontend/.next/


challenges/react-js/01-conceitos-do-react/node_modules/

**/*next/